// Nav Bar

ul.nav-bar {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 45px;
  z-index: 9999;
}

ul.nav-bar li {
  display: inline;
  padding: 10px;
  margin: 10px;
}

li.home-button {
  font-family: 'Bungee Outline', cursive;
  font-size: 30px;
  position: absolute;
  left: 0;
}


ul.nav-bar li:hover {
  color: grey;
}

img {
  height: 100px;
}
