@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');

@import '_nav.scss';
@import '_title.scss';
@import '_about.scss';
@import '_skills.scss';
@import '_projects.scss';
@import '_experience.scss';
@import '_contact.scss';


// Main Styling

body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: grey;
  scroll-behavior: smooth;
  p {
    font-size: 16px;
  }
}

.main-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  // background-color: #c8dbf4;
}
h1 {
  font-size: 40px;
  font-family: 'Bitter', serif;
  color: grey;
}

.sections-layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 0px 60px 0px 60px;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}


@media only screen and (max-width: 880px) {

  body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    color: grey;
  }

  ul.nav-bar li {
    padding: 10px;
    margin: 10px;
    display: inline-block;
  }

  .title-section {
    height: 100%;
  }

  .title-text {
      h1:first-child {
        font-size: 80px;
        margin: 0;
        margin-top: 40px;
        text-align: center;
      }
    h1 {
      text-align: center;
      font-size: 30px;
    }
    i {
      font-size: 40px;
    }
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .about-info {
    width: 100%;
    text-align: center;
    flex-direction: column;
    .about-text {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  .about-pic {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  .interests {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
  }

  .interests-div {
    margin: 40px;
  }

  div.interests > div:nth-child(2) {
    margin-top: 0;
  }

  .project-divs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .experience-divs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills-icons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    i {
      margin: 20px;
      font-size: 50px;
      color: grey;
    }
  }
}

